body{
  background-color:#fff;
}
img {
    max-width: 100%;
}

/*gallery paddings*/
.gallery .col-md-4 .col-md-12 {
    padding-left: 0;
    padding-right: 5px;
}
.gallery .col-md-8 {
    padding: 0 5px;
}
/*gallery padddings*/

/*start Navigation bar stuff*/
.navigation-bar ul{
  display: flex;
}

.navigation-bar li{
  margin: 10px
}
/*end Navigation bar stuff*/

.gallery .pro-img{
  margin-bottom: 8px;
}

.pro-text:hover .pro-img .hover-img {
  opacity: 1;
  transition: all 0.3s ease 0s;
  width: 100%;
  height: 100%;
}

.hover-img {
  background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
  height: 50%;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.hover-content{
  padding: 35% 0 0;
}
